/* GRAVE Controller overlay */
[class~=custom] [class~=face].right[class~=pressed] {
    transform: rotate(180deg);
}

[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    top: 337px;
}

[class~=custom] [class~=face].right[class~=pressed] {
    left: 235px;
}

[class~=custom] [class~=button][class~=pressed] {
    margin-top: 0pc;
}

[class~=custom] [class~=face][class~=left][class~=pressed],[class~=custom] [class~=face].right[class~=pressed] {
    width: .739583333in;
}

[class~=custom] [class~=face].right[class~=pressed],[class~=custom] [class~=face][class~=left][class~=pressed] {
    height: 3.625pc;
}

[class~=custom] [class~=back],[class~=custom] [class~=start] {
    height: .572916667in;
}

[class~=custom] [class~=face][class~=left][class~=pressed] {
    transform: rotate(0deg);
}

[class~=custom] [class~=start],[class~=custom] [class~=back] {
    opacity: 0;
}

[class~=custom] [class~=face],[class~=custom] {
    position: absolute;
}

[class~=custom] [class~=face][class~=left][class~=pressed] {
    left: 8.75pc;
}

[class~=custom] [class~=dpad] {
    height: 39pc;
}

[class~=custom] [class~=face][class~=up][class~=pressed] {
    transform: rotate(90deg);
}

[class~=custom] [class~=dpad] {
    width: 630pt;
}

[class~=custom] [class~=touchpad][class~=pressed] {
    width: 391px;
}

[class~=custom] [class~=face][class~=up][class~=pressed] {
    top: 289px;
}

[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    left: 11.6875pc;
}

[class~=custom] [class~=face] {
    background: url('data:image-svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAAA6CAYAAADiDEQAAAAOc0lEQVR4nNWb+48k11XHv7fe/e557sysx6wduxfbu3GQokQEIwQEI2DjiMR5OCJRhBVwFkT+gkj8CL/wGwvhBwcTBScRBjmsAhFBicjLUQJKbGcdj5OwfuxM77x7+lVdXXVvdM6t213z2NmZnVnPzNmt7 uqe6qq6nzrn3HPuvUd88g9exi1KFcB9AM4COA2gDCAA4AIQABIAMYAo3boAWunWBLAGoAGgAyAE0E6PCdPttsqly7Wbnt65hRt4BMCHAHzkNt78l1KI7RTiNQCvAHgJQP02XneT7AfO4wD+DMCv0AfLthDkPXi+A9sVEJYChASEglISSimA/iv6DEgpoSQgEwUlFWQC3vgwqfhvep/fP7jLffwrgC8DePbMg4V1x 8nBsQJYtgdLOJB0Uih9/TcBzgMA/hbAb9CHXNFHaSSPfDmHXD4Hy6aG9yFVAqniFEyif0lgkIJK3/nvkJBSpVDUYF9KDYffGZ7kLe4rxBGQ9CzIRLwPAG24+qP2k0D7U3e+1Wt5bhmOnYdtealVywMDuhmcDwD4AimKn3MxfnoU5ZE8lFD6MZOmwIZt+7AYikxhyBSMShlJ/TShVYP3BseYRpgt3VMJb0kSIZER4 jhCHCXody1EbR/9jgso8ccAfvO156O/nLpv/p8CbwSeW4Jj5yCEw4AOokW7wfkHAJ+gncp4gInZEXheAMtykSR9KKEbnUgFS1gQvDmwBFIg5oZMg1UGmBoA0eCw6TtzvJIxEquPRIYQogsh2rDcHvxyD0k3j+66j6ht3wXgqfpL3qNA+wN3nAt7gVeF6xZZi8ichcAtAboRnL9jMAKoTlsYmXQgrJjNRiibQQxMh 56PkhBKQQiB4T2ITSek39BXgv7R3Q60KnvTW0DaEraMIaXPDY0sB/1+E3ESwsmHGC3ZiJoeGosSSV+9B8Dzb7yYPDZ9f/3/cmocZGq25d+ymVk7fEe+5QnaKU6GyFV7iJOIfYpu5LBhW0X7FDX0LTtuCSQ3OOFt82+0tZJaCmHDEh5cJw/XKcL3RpDzx3kj06Hj+0kbQbWP6XuKyJfJ14D65/9duOJ+uNVdQNhbQ Zx0+X61Zosd73uvcChG+Xva8SoNOMV1xEmPG8Q3a7mDRqWkYP7dTDZD2B2iMTcNUvK1HTuA5xQR+GPIB5MI/BG+Yi9ah7KamH5LFaNTFXMXTy/+JP8UAer2ltCP2+zb6Dz7AbTVrKhX+mXht2AV55EkOXZutq2fILhLTgZQbpdsNzVtrtQ4ug/LcmBZHpta2FtFt7fMjZ+YneXQYvH1NYL6seW5ysjYvfVH6J5z/ ihroHbUyZ7uPAunpB2wggpeRSy7sKXLN0C2K+CwOdxuMDvJEBZpk2Bz812H4xrS5m64zCZEx1Um74TtjuD6aw3EUfyelVdGvwkkD888sNjNBwqeU0oB3VyyZvV7fHl3GbG9wLELPSECQ+p8VGCyMjTDhLXJdQrsgwq5ab7PXrSKRuvnKFQ9TN1VhpdjCA8B+N78j8Vku3sdvX4DUvX3Dee99BLb89x1kth2AN8ts 90fNZisDCEp9kXkfwrBFHxvFFG/yYDyJQ+TZ4rw8zb98jyA5xau2DPtbh1R1NjTdQwcSiI/okQfMZYGDphs1HEKmVjk+IiJiejBUXfte1UUcqdYk/pxB+vNnyJfCDB2ZwC/wA+V4qHn6i95p9vh9X3BmQH3oB0kYkP/wXK1M6Zw/BhpTVaMBpHJkx8hf0I9GW0UVa81f4pSqYLqjAsvz35rFsB3CdBezm/gcL8oQ d12DxAWQ3Fs/01o4sFFQ9LaTjFQPphgQFJGWN2YQ7U6gcq0BSfPvRQB+vbFC3MzN7uwgZNSSKBEAgEKmCgIc4+lSe0kRouyjjofnGJAaxsvY2xsFpUpwMnREBN+KQU0tds5rc3vusukaFJ3kzZf9Dia1E6yHdAYAyITW21cweTE3SidkrAD7q3OAPifixfmxm90PgOH+zyVZrE6/9Hao26QKhxX2Q3QSuMlTJ86i 9JkAttnQPemgKq7wcnxq9ADRTBZ9o6p10kFNIkkCbHSuILTM+eQHw9h+TR6y0O937h4YS639Tym9QU+KUygp02LM+kTKjv5oFwwwd388vqLmL3jQfjVJoTLgB4kQDeCU9Rw0sjRaM0JhoMdAOV93Yv14xbWmq9gZuY+WMVFwOGg9x0XL8z9V/b3m+GI/iDL1hmsBRzCWOxRyjYNCvSwRy9aQxSvYWz8DoT2HJRgQ O++eGHuqa1w8votNSsemDqcwM/zgd99n31sAFGeyEMe3gja3QVUK1PIFfNYib4PpbP1j128MEf52A3MaqA5B2vU1B0Cj/2pg9q5ozfP7Ro0AcfJc5oxPXkO3WQejeiKOfzT2OaQOQBMu/EDaA2NJ739IQvv/7iDcvX4xEgGEKcabpl7MRpyLRQqKBbG0YxfQV/SfCMevnhh7vy2CFmPt5o4Z/9PvFgS+MOPOvjV3 6KRw0Nt26GISTUoPfLdCmf1rc48Rip3MhjSoFQeMqM+NDyqg0D2OfRJbBskv5ncfdbCbz9iI9gWMRw/QDQ6SFNKZFo0zFEp61QrkmvmsLdugqPneZBqjjasvfRVtgP8+sM2zr/9JHX9isMVSpNIk0iLwDMpg4GwkpP6ncfMD4YitPPYA53fea+Nex84aTGR4N6Jp5uEjX6/y99awyHUtjW0nTTpzLzuVb72bIIXf nAysnek00uUVCdJjx0yDdo3mgv8N88aMYe9YPF8LosamNV+e6o4Br7xlQRf+VKCsHuo7Th0EWkcR2Pk5GviuINCbgar66/BEXnk7GlzyW9tsYWDdbs/+4nE05+Jce3q8YyqDRjqeKK4xVM61Gv1el202osouffAtdj3fP3S5doPrXSBUep6NJyDDFO0NhT+7XMxnvt6wqsljosYMBzqxm10wkXOsSqlt2C+/gJ8a wJV75y527/GDaaDDyyUjn3/mxLP/GOMjfWj1yI9y6kfPIEx81w0ztNqraLVamDMeyfFznTIFy9drn0VO8FRmdeDSv0NxWY29+OjUyEDht4ZTG+Fp4gpQg68U1hc+jmCuAZLcXr5nUuXax82v7VSL/zP6akyp1WHkpFHPeCrz+xt+vWwJQuGFhSE0Qo64XWejxur3I/Xrz0P1ZyEiBnMixSVZG/BaI5ZGTAAoxcin VwxYCzL0mB6q+xnaI59vHoOV9/4AaK1IlSfw/k5Wl1y6XKtsxMcNYCTWQGBEzLzsFU2gwkRRqtoh3WOiMcr9+ON+R+hs+xCRQzmWgpmdet5DJwe+HT2puUfCicPzjYwpDFdPcM5WrkP9aWX0VoSUCEPRNAM5q9dulzbcYWqgcPZloCfrtejsLrPgRL2ueDnKGW7xqyxxtDCq5FyDcurr6JxPYbspsNXGsyrN7plA +c1erFViaNjXqgo9UJF/nxivI8B0+NhUFo0QA+YwKw36li/HkJ2Subgd126XHtxt7MZOLT4GbaqQqSznJR39OMuL0M5CcITkQMwqymYCNXSPWg2V7BWbyFpFU1L3n3pcu25mzXLwOE1/pYsw1YV1hQNpwWl4k3LZo+jZBNJWgZH63CSFEy73cDKQgNxc6Axvz9xtvnfe2mGgUMe+1mhcnDkKTYlOjklZhQ4Hef5K w3GQSJ7vDCJ4hjyN5Xi3Wi3N7A8v5YF88hEbeM/aC3PXiTb6n+hFyee4ViAYsM4afMF6akcR+3RppSCYY2p88OsFM+g2+1geWEZcbNsDn90orbx74XcFAJ/dE/nz8L5Ml+wPw47nuIBIFo9Thcl82Lfc0wAmSSSfMwQzHUGU8rPIo4VlutLiJuDKfDPjNcaz1AuFXijPG68F8nC2dCr1gVEOAtL6BNQdNmLGjxqZ ib5jgqQhiIGa4rJfIZgmrw20LHLWKkvIt6omND2yfHa+hMFAuOPggpJ5B6HC7Y6k7+gUFr1SkB7mpfYmsXQUX+Dn9RRADJQdFftcHAaJx0O8LQpNZHzJ1Ap3oWVxUWEawUT3H9+7N61x/W65TFeqabB7O3et8LppYAQbYwi6VZhWy4D0r1Xm/1PFtBhQxpqR1ZLrPS6WpPpQXXCZXa+ZPKeW0ExP4Ol+iKadcFlS 1SzNV5b/yOzTpDADOstbg0OCY1lPElL7LtLJcShKdOBLhuSEWzbGfZgB4C0Ewhk1gZpIDoojWMNhaLeTrjEww4EihZ00irS1fkWFq82kCSsMl8YrzU+RBqjweT3DQa7FIZQ4VlZJuLRxjUHDmz4Y1TsZXM6wau9thSHZBuc+bQrGHOMqacYNkDndSrRswMU5ZLjpaCUtJegUPxFvarsBVi81kG3OfAjT06ebT2e8 3WvRBqjZf+lRbuFv1Rr9UWZ4IPLr1Otk4OJ0/l0/lxsAmMqYYazpDtVxGCTrXNSa3yXHNZgmToraeqtKI3hmquQo1/SXP4+9NFpBug1BZR2sJQjPTF9f/8/A2+G10/baa80qBzcp9wsN6BazoZS+MRanZ5OgonToyhWg0HZj/EHpsH0lLN1Uzs772GdlYYhBzBUWvHHn6VJgGPE/RhxT6Ef6kK0OHSh5EAznyYws +fdDd8b54UCptbqdhWjGfkTKvYC8Ddhu/eO1+cWkC8FXMpYKOcQ5HMplJhVfdhIOYCTQZLRKjkYATDVMQmZUSKRxAoyphoqII4E4shFEnlI+lYWCMnnAPzV7Hn3iscLyvO6avCQaj33mlV+G8A70yK1JzrNELTZjo2goItgKUYUlsxoRYpCZuCkRbHSFMdm6zsTXRwrpYBKqMexbjRK+/m0CPZrZ95W3HAsn82HN IW7eZ4Hj9+0AtisfBLAnwN4P/mkJE4ebTe6XN98m+SzAP4/Hcak0umfpbXoLFd/aMrUb0VuT1056SvVfdM2CYAme+hKlM3RmIApujdTqDQzT/v0O9qneTJ631qMv54pxDdF+Uc3fwrgF+r8Kmp070ufAAAAAElFTkSuQmCC');
}

[class~=custom][class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    width: 71px;
}

[class~=custom] [class~=face][class~=up][class~=pressed],[class~=custom] [class~=face][class~=down][class~=pressed] {
    height: .604166667in;
}

[class~=custom] [class~=face][class~=down][class~=pressed] {
    transform: rotate(-90deg);
}

[class~=custom] [class~=face] {
    top: 21.0625pc;
}

[class~=custom] [class~=face][class~=down][class~=pressed] {
    background-repeat: no-repeat;
}

[class~=custom] [class~=face][class~=down][class~=pressed] {
    top: 4.010416667in;
}

[class~=custom] [class~=face] {
    left: 8.75pc;
}
